* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url('fonts/Lato-Light.ttf') format('truetype');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Lato Light'), local('Lato-Light'), url('fonts/Lato-Light.ttf') format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    width: 368px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-color: #1a1a24;
    color: #ffffff;
    user-select: none;
}

p {
    color: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    opacity: 1;
    margin-left: 20px;
    white-space: nowrap;
}

.apptext {
    display: flex;
    color:#fff;
    font-family: Lato;
    font-size: 26px;
    letter-spacing: 0;
    margin-left: 98px;
}

.container {
     margin: 44px 44px 40px 44px;
}

.btn-group .button {
    display: block;
    width: 280px;
    height: 97px;
    background: #232331 0% 0% no-repeat padding-box;
    box-shadow: 2px 8px 15px #0000004E;
    border: 2px solid #2D2D40;
    border-radius: 8px;
    opacity: 1;
    margin-top: 15px;
    transition: sms;
}

.btn-group .button:focus {
    outline: none;
}

#finkaFK img {
    position: absolute;
    display: block;
    margin-left: 35px;
}

#finkaFK:hover {
    border: 2px solid #FFCE00;
    border-radius: 8px;
    opacity: 1;
}

#finkaFK:active {
    background: #353550 0% 0% no-repeat padding-box;
}

#finkaPLACE img {
    position: absolute;
    display: block;
    margin-left: 31px;
}

#finkaPLACE:hover {
    border: 2px solid #CE00FF;
    border-radius: 8px;
    opacity: 1;
}

#finkaPLACE:active {
    background: #353550 0% 0% no-repeat padding-box;
}

#finkaSTW img {
    position: absolute;
    display: block;
    margin-left: 35px;
}

#finkaSTW:hover {
    border: 2px solid #C4FF00;
    opacity: 1;
}

#finkaSTW:active {
    background: #353550 0% 0% no-repeat padding-box;
}

#finkaKPR img {
    position: absolute;
    display: block;
    margin-left: 27px;
}

#finkaKPR:hover {
    border: 2px solid #00CEFF;
    opacity: 1;
}

#finkaKPR:active {
    background: #353550 0% 0% no-repeat padding-box;
}

.apptext {
    float: left;
}

.statusBar {
    margin-top: 40px;
    /* display: inline-block; */
}

.statusBar .dot {
    width: 9px;
    height: 9px;
    background: #4A4A62;
    border-radius: 8px;
    opacity: 1;
    line-height: 9px;
    display: inline-block;
}

.log:after {
    content: '\2807';
    font-size: 25px;
    line-height: 20px;
    color: #aaa;
    display: inline;
    float: right;
    width: 10px;
}

.log:hover:after {
  color: #f27474;
}

#ic-dot {
    background: grey;
}

#ss-dot {
    margin-left: 150px;
    background: grey;
}

